<%- include('partials/header') %> 

    <form action="/" method="POST" id="main">
        <section class="first-section form-section">
            <div class="container">
                <div class="row">
                    <div class="mb-5">
                        <h4>Prénom</h4>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Ton petit prénom" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Filler queens <i class="fas fa-star-half-alt"></i></h2>

                        <% for( let componentIndex = 0; componentIndex < queens.length - 4; componentIndex++ ) { %>
                        <div class="mb-3">
                            <label for="place <%= queens.length - componentIndex %>" class="form-label"> <%=(queens.length - componentIndex)%>e place <span class="text-muted">(<%= Math.pow(2, componentIndex) %> points)</span></label>
                            <select name="places[]" id="<%= 'place' + (queens.length - componentIndex) %>" class="form-select" required>
                                <option value="">Choisissez...</option>
                                <% for( let index = 0; index < queens.length; index++ ) { %>
                                    <option><%= queens[index] %></option>    
                                <% } %>
                            </select>
                        </div>
                        <% } %>

                    </div>
                    <div class="col-lg-6">
                        <h2>Lip Sync Assassins <i class="fas fa-skull-crossbones"></i></h2>
                        <p class="text-muted"><%= bonusScore %> points chaque réponse correcte</p>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="lipsyncs[]" placeholder="Lip Sync Assassin #1">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="lipsyncs[]" placeholder="Lip Sync Assassin #2">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="lipsyncs[]" placeholder="Lip Sync Assassin #3">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="lipsyncs[]" placeholder="Lip Sync Assassin #4">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="lipsyncs[]" placeholder="Lip Sync Assassin #5">
                        </div>
                        <h2>Extra points <i class="fas fa-plus"></i></h2>
                        <p class="text-muted"><%= bonusScore %> points par réponse correcte</p>
                        <div class="mb-3">
                            <label for="snatch" class="form-label">Vainqueur Snatch Game <span class="text-muted"></span></label>
                            <select name="challenges['Snatch Game']" id="snatch" class="form-select">
                                <option value="">Choisissez...</option>
                                <% for( let index = 0; index < queens.length; index++ ) { %>
                                    <option><%= queens[index] %></option>    
                                <% } %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="talent" class="form-label">Vainqueur Talent show <span class="text-muted"></span></label>
                            <select name="challenges['Talent Show']" id="talent" class="form-select">
                                <option value="">Choisissez...</option>
                                <% for( let index = 0; index < queens.length; index++ ) { %>
                                    <option><%= queens[index] %></option>    
                                <% } %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="reading" class="form-label">Vainqueur Reading challenge <span class="text-muted"></span></label>
                            <select name="challenges['Reading Challenge']" id="reading" class="form-select">
                                <option value="">Choisissez...</option>
                                <% for( let index = 0; index < queens.length; index++ ) { %>
                                    <option><%= queens[index] %></option>    
                                <% } %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="bitchfest" class="form-label">Vainqueur Bitch fest <span class="text-muted"></span></label>
                            <select name="challenges['Bitch Fest']" id="bitchfest" class="form-select">
                                <option value="">Choisissez...</option>
                                <% for( let index = 0; index < queens.length; index++ ) { %>
                                    <option><%= queens[index] %></option>    
                                <% } %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="topallstar" class="form-label">Top all star <span class="text-muted">(celle qui a été le top all star le plus)</span></label>
                            <select name="challenges['Top All Star']" id="topallstar" class="form-select">
                                <option value="">Choisissez...</option>
                                <% for( let index = 0; index < queens.length; index++ ) { %>
                                    <option><%= queens[index] %></option>    
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="second-section form-section">
            <div class="container">
                <div class="row text-center justify-content-center">
                    <h2>Top 4 <i class="fas fa-star"></i></h2>
                    <p class="text-muted"><%= bonusScore %> points supplémentaires par queen</p>
                    
                    <% for( let componentIndex = queens.length - 4; componentIndex < queens.length - 1; componentIndex++ ) { %>
                    <div class="mb-3">
                        <label for="place<%= queens.length - componentIndex %>" class="form-label"><%=(queens.length - componentIndex) + 'e place'%> <span class="text-muted">(<%= Math.pow(2, componentIndex) %> points)</span></label>
                        <select name="places[]" id="place<%= queens.length - componentIndex %>" class="form-select" required>
                            <option value="">Choisissez...</option>
                            <% for( let index = 0; index < queens.length; index++ ) { %>
                                <option><%= queens[index] %></option>    
                            <% } %>
                        </select>
                    </div>
                    <% } %>

                </div>
            </div>
        </section>
        <section class="third-section form-section">
            <div class="container">
                <div class="row text-center justify-content-center">
                    <h2>She's a winner, babe! <i class="fas fa-crown"></i></h2>
                    <div class="mb-3">
                        <label for="winner" class="form-label">And the winner of RuPaul's Drag Race All Stars 6 is... <span class="text-muted">(<%= Math.pow(2, queens.length - 1) %> points)</span></label>
                        <select name="places[]" id="winner" class="form-select" required>
                            <option value="">Choisissez...</option>
                            <% for( let index = 0; index < queens.length; index++ ) { %>
                                <option><%= queens[index] %></option>    
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
        </section>
        <section class="submit-section form-section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button class="w-100 btn btn-danger btn-lg" type="submit">Let the best queen win!</button>                                                                    
                    </div>
                </div>
            </div>
        </section>                                                                                    
    </form>                                                                                    

<%- include('partials/footer') %>