<%- include('partials/header') %> 

    <section class="first-section form-section">
        <div class="container">
            <h2 id="main">Resultats</h2>
            <table class="table table-striped table-hover table-dark">
                <thead>
                    <tr>
                        <td>Prénom</td>
                        <td>Points</td>
                        <td>Réponses correctes</td>
                    </tr>
                </thead>    
                <tbody>
                    <% for( let index = 0; index < scores.length; index++ ) { %>
                        <tr>
                            <td><%= scores[index].name %></td>
                            <td><%= scores[index].score %></td>
                            <td>
                                <details>
                                    <summary>Details</summary>
                                    <% scores[index].rightAnswers.forEach(element => { %>
                                        <p class="<%= element.status %>"><%= element.message %></p>
                                    <% }); %>
                                </details>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </section>

<%- include('partials/footer') %>